<div id="about" class="container-fluid text-center">
  <div class="row">
    <div class="col-sm-12">
      <h2>О Нас</h2><br>
      <h4></h4><br>
      <p style="font-family: 'Lucida Sans'">Мы молодые и энергичные, всегда готовые к выполнению поставленной задачи.<br>
        Занимаемся превозками по всей стране, всегда идём навстречу клиенту и находим общий язык<br>
        На рынке перевозок уже много лет и знаем своё дело!</p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon"></span>
    </div>
  </div>
</div>
