<div [@flyInOut]="state" class="bg-grey" >
<form (submit)="sendEmail(f)" #f="ngForm" style="margin-top: 50px">
  <div id="contact"  class="container-fluid bg-grey">
    <h2 class="text-center">{{ 'Contacts' | translate }}</h2>
    <div class="row">
      <div class="col-sm-5" [ngClass]="{'text-right pull-right': translate.currentLang === 'heb'}">
        <p>{{ 'ContactText1' | translate }}</p>
        <p>{{ 'ContactText2' | translate }}</p>
        <p><span [ngClass]="{' pull-right': translate.currentLang === 'heb'}" class="glyphicon glyphicon-map-marker"></span>{{ 'City' | translate }}</p>
        <p><span [ngClass]="{' pull-right': translate.currentLang === 'heb'}" class="glyphicon glyphicon-phone"></span>052-2980613</p>
        <p><span [ngClass]="{' pull-right': translate.currentLang === 'heb'}" class="glyphicon glyphicon-envelope"></span>AlexHuvalot@gmail.com</p>
        <p><a href="https://www.facebook.com/groups/328120727579669/" target="_blank"><img [src]="'/assets/facebook.png'" height="30" width="30"/></a></p>

      </div>
      <div class="col-sm-7 slideanim">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="{{ 'Name' | translate }}" [(ngModel)]="message.name" type="text">
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="telephon" name="telephon" placeholder="{{ 'Telefon' | translate }}" type="number" [(ngModel)]="message.telephon" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="{{ 'Message' | translate }}" [(ngModel)]="message.message" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit" [disabled]="!f.valid">{{ 'Submit' | translate }}</button>
          </div>
          <div class="messages"></div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>





